.cart-dropdown {
    position: absolute;
    width: 240px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;

    .cart-items {
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    button {
        width: 100%;
        margin-top: auto;
    }
}
