.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .logo-container {
        height: 100%;
        width: 70px;
        padding: 25px;
    }
    .logo-container:hover {
        transform: scale(1.1);
        transition: transform 200ms;
    }

    .options {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        a {
            font-weight: bold;
            color: black;
        }
        a:hover {
            transform: scale(1.1);
            transition: transform 200ms;
        }
        .option {
            padding: 10px 15px;
            text-decoration: none;
        }
    }
}
